@import('http://fonts.googleapis.com/css?family=Roboto');
*{
    padding: 0;
    margin: 0;
}
.wrapper{
    background: url(bb.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}
.navbar{
    height: 80px;
    width: 100%;
    background: rgba(0,0,0,0.4);
}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 6px 13px;
    font-family: 'Roboto', sans-serif;
}
.navbar ul li a.active,
.navbar ul li a:hover{
    background: red;
    border-radius: 2px;
    
}

.wrapper .center{
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    user-select: none;
    
}

.center h1{
    font-size: 45px;
    width: 640px;
}
.center .buttons{
    margin: 25px 75px;
    
}
.buttons button{
    margin: 30px;
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background:linear-gradient(#3ebf17,#ed1818);
    border: 1px solid #cc0000;
    outline:none;
    cursor: pointer;
    border-radius: 25px;
    transition: .5s;

}
.buttons btn{
    margin-left: 25px;
}

.buttons button :hover {
    background: #cc0000;
}






































